@import '../../../styles//globals.scss';

$ltr-spacing: .75rem;

@mixin item {
    display: flex;
    justify-content: center;
    gap: 25px;

    font-size: 32px;
    text-align: center;
    padding: 10px;
    text-shadow: 0px 0px 0px rgb(250, 250, 250), 0px 0px 0px black, 0px 0px 5px black;
}

.event { 
    position: relative;
    overflow: hidden;
    height: 600px;
    padding-left: 50px;
    padding-right: 50px;

    color: white;
    
    font-family: "Downcome";
    letter-spacing: calc($ltr-spacing/2);

    animation: slideImg 10s linear infinite alternate;

    background: black;

    &:hover {
        cursor: default;
    }

    &__image {
        position: absolute;
        left: 0;
        
    }

    &__header {
        position: relative;
        z-index: 2;

        padding: 50px;
        padding-bottom: 35px;
        height: 100px; width: 100%;
        display: flex;
        
        &__title {
            position: relative;
            left: -52px;
            width: 66.6%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-family: 'Kontanter';
            font-size: 70px;
            font-weight: 100;
            letter-spacing: .5rem;
            color: white;
            text-shadow: 0px 0px 0px rgb(250, 250, 250), 0px 0px 0px red, 0px 0px 5px $pink;
        }

        &__subTitle {
            position: relative;
            left: -52px;
            width: 33.3%; 
    
            display: flex;
            align-items: center;
            justify-content: center;
            
            font-size: 35px;
            letter-spacing: $ltr-spacing;
            text-align: center;
            text-shadow: 0px 0px 0px rgb(250, 250, 250), 0px 0px 0px black, 0px 0px 5px black;
        }
    }

    &__grid {
        position: relative;
        z-index: 2;
        height: auto;
        display: flex;
        justify-content: center;
        padding-bottom: 50px;

        &__titles {
            position: relative;
            z-index: 2;
            padding-bottom: 15px;
            display: flex;
            justify-content: center;
            font-size: 35px;
            letter-spacing: $ltr-spacing;

            &__title {
                text-shadow: 0px 0px 0px rgb(250, 250, 250), 0px 0px 0px red, 0px 0px 5px $pink;
                width: 33.3%;
                text-align: center;
            }
        }

        &__section {
            position: relative;
            width: 33.3%;
            display: flex;
            flex-direction: column;
            align-items: center;

            &__item {
                @include item;
                
                transition: all .3s;
                &:hover {
                    cursor: pointer;
                    background: linear-gradient(to right, rgb(0,0,0,0), black, rgb(0,0,0,0));
                    text-shadow: 0px 0px 0px rgb(250, 250, 250), 0px 0px 0px red, 0px 0px 5px $pink;
                }
            }

            &__item__nohover {
                @include item;
            }
        }

        &__details {
            &__purchase {
                position: relative;
                bottom: -10px;
                @include btn;
                // margin-top: 20px;
                width: 250px; height: 50px;
                
                letter-spacing: .5rem;
                font-size: 30px;
                
                transition: all .5s;
                &:hover {
                    border: 1px solid black;
                    box-shadow: 0px 0px 25px black;
                }
            }
        }
    }
}

// Give musicians two columns instead of one (Max of 8 performers)
#musicians {
    display: grid;
    align-items: start;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(4, 25%);
}

#hiring {
    z-index: 2;
    position: absolute;
    top: 15px;
    left: 15px;
    @include btnInvert;
    width: 150px;
    height: 50px;
    letter-spacing: .5rem;
    font-size: 30px;

    &:hover {
        color: black;
        background-color: $pink;
        text-shadow: none;
        border: 1px solid $pink;
        box-shadow: 0px 0px 5px $pink;
    }
}

#ageRestriction {
    z-index: 2;
    position: absolute;
    bottom: 15px;
    right: 15px;

    font-size: 45px;
    @include textShadow;
}