@import '../../../styles/globals.scss';

@mixin title {
    background-color: black;
    @include text;
    letter-spacing: .5rem;
    height: 75px;
}

body {
    background: black;
    &:hover {
        cursor: default;
    }
}

.nextEvent {
    @include text;
    height: 75px;
    width: 100vw;
    background: black;
    box-shadow: 0 0 10px black;
    color: white;
    font-size: 55px;
    text-align: center;
    letter-spacing: .5rem;

    &__barcode {
        font-family: "Barcode";
        color: white;
        font-size: 50px;
        transform: rotate(90deg);

        position: absolute;
        top: 4.5px;
        left: -4px;
        background: black;
        width: 66.5px;
    }

    &__container {
        position: relative;
    }

    &__overlay {
        z-index: 1;
        width: 100%;
        height: 600px;
        position: absolute;
        left: 0;
        animation: lightingFX 40s linear infinite;
    }
}

.monthly {
    height: 600px;
    // background: $pink;
    background: linear-gradient(to bottom, black 50%, $pink);
    &__title {
        @include title;
        position: relative;
        bottom: -10px;
    }

    &__record__container {
        position: relative;
        top: -20px;
        right: 15px;
        width: 100vw;
        padding-top: 50px;
        display: flex;
        justify-content: center;
    }
}

.featured {
    height: 675px;
    // background: black;
    background: linear-gradient(to top, black 50% , $pink);
    &__title {
        @include title;
        background: none;
    }

    &__container {
        position: relative;
        top: 5px;
        left: -15px;
        width: 100vw;
        display: flex;
        justify-content: space-evenly;
    }

    &__btn {
        @include btnInvert;
        position: relative;
        top: 10px;
        right: 8px;

        height: 75px; width: 500px;
       
        font-size: 35px;
        
        &__container {
            padding-top: 50px;
            width: 100vw;
            display: flex;
            justify-content: center;
        }
    }
}

@keyframes lightingFX{
    0% {
        background: rgb(255, 0, 106, .5);
    }

    20% {
        background: rgba(98, 0, 255, 0.5);
    }

    40% {
        background:rgba(21, 255, 0, 0.6);
    }

    60% {
        background: rgba(251, 255, 0, 0.5);
    }

    80% {
        background: rgb(255, 0, 0, .5);
    }

    100% {
        background: rgb(255, 0, 106, .5);
    }
}
