@import '../../../styles/globals.scss';

@keyframes spin {
    0% {transform: rotate(-360deg)}
}

.header {
    //#region header styles
    width: 100vw;
    height: $headerHeight;

    z-index: 1000;

    position: fixed;
    top: 0;

    font-family: 'KillTheNoise';
    color: white;
    text-shadow: 0px 0px 0px rgb(250, 250, 250), 0px 0px 0px red, 0px 0px 5px $pink, 0px 0px 35px rgb(255, 255, 255, .3);
    font-size: 3vw;
    letter-spacing: 2px;

    box-shadow: 0px 0px 10px black, 0px 0px 20px black;

    background: black;

    display: flex;
    //#endregion header styles
    &__logo {
        //#region logo styles
        position: relative;
        width: 1.5vw; height: 1.5vw;
        padding: 20px;

        border-radius: 50%;
        border: 1px solid white;
        
        background: 
            linear-gradient(30deg, transparent 40%, rgba(0, 0, 0, 0.75) 40%) no-repeat 100% 0,
            linear-gradient(60deg, rgba(0, 0, 0, 0.75) 60%, transparent 60%) no-repeat 0 100%,
            repeating-radial-gradient(#000000, #000000 2px, #ffffff 2.5px, #858585 3px);
        background-size: 50% 100%, 100% 50%, 100% 100%;

        transition: all .5s;

        //#region Responsive Styling
        @media (max-width: 900px) {
            position: absolute;
        }
        //#endregion Responsive Styling
        
        //#endregion logo styles
        &__container {
            width: 27.5vw;
            height: $headerHeight;

            display: flex;
            justify-content: center;
            align-items: center;

            position: relative;
            left: 10px;
            
            padding-right: 10px;

            &:hover {
                .header__logo {
                    border: 1px solid  $pink;
                    border-radius: 50%;
                    box-shadow: 0px 0px 5px $pink,
                                0px 0px 25px $pink,
                                0px -2.5px 5px $pink,
                                -2.5px 0px 5px $pink;

                    animation: spin 3s linear infinite;
                }
            }

            //#region Responsive Styling
            @media (max-width: 900px) {
                width: 100vw;
                left: 0px;
            }
            //#endregion Responsive Styling
        }

        &__title {
            width: inherit;

            // adjust for font centering
            height: calc($headerHeight - 5px);
            padding-bottom: 5px;
            padding-right: 10px;
    
            position: absolute;
            top: 0px; left: 0px;
    
            font-family: 'KillTheNoise';
            font-size: clamp(1.5rem, 3.5vw, 3.5vw);
            font-weight: 100;
    
            word-spacing: 80px;
            
            display: flex;
            align-items: center;
            justify-content: center;
    
            transition: all .5s;
            &:hover {
                color: $pink;
                text-shadow: none;
            }
            //#region Responsive Styling
            @media (max-width: 1400px) {
                font-size: clamp(1.5rem, 2.5vw, 2.5vw);
            }

            @media (max-width: 900px) {
                width: 100vw;
                left: 0px;
                font-size: clamp(3.5rem, 3.5vw, 3.5vw);
            }

            @media (max-width: 600px) {
                font-size: clamp(2.5rem, 3.5vw, 3.5vw);
            }

            @media (max-width: 450px) {
                font-size: clamp(1.5rem, 3.5vw, 3.5vw);
            }
            //#endregion Responsive Styling
        }
    }


    &__menu {
        position: relative;
        top: 15px;
        left: 27px;

        width: 50%; height: 70px;

        display: flex;
        justify-content: start;
        gap: 50px;
        align-items: center;
        

        font-size: clamp(1.3rem, 2.5vw, 2.5vw);

        //#region Responsive Styling
        @media (max-width: 900px) {
            flex-direction: column;
            align-items: start;
            gap: 5px;

            width: 100px; height: auto;

            position: absolute;
            left: 0px;
            top: $headerHeight;

            background: black;

            border-right: 1px solid $pink;
            border-bottom: 1px solid $pink;
        }
        //#endregion Responsive Styling

        &__item {
            color: white;
            transition: all .5s;
            &:hover {
                cursor: pointer;
                color: $pink;
                text-shadow:none;
            }

            //#region Responsive Styling
            @media (max-width: 900px) {
                border-bottom: 1px solid $pink;
                width: 95px;
                
                padding-left: 5px;
                padding-bottom: 5px;
            }
            //#endregion Responsive Styling
        }
    }
}

#login {
    font-size: clamp(3rem, 2.5vw, 2.5vw);

    //#region Responsive Styling
    @media (max-width: 900px) {
        border-bottom: none;
    }

    @media (max-width: 450px) {
        font-size: clamp(2rem, 2.5vw, 2.5vw);
        right: 10px;
    }
    //#endregion Responsive Styling
}